*,
*::before,
*::after {
  box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
  box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(45deg, rgb(8, 221, 99), rgb(0, 131, 255));
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color:white;
}
.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-navigation {
    display: flex;
    flex-direction: row;
}
.app-navigation__menu {
    display: flex;
    flex-direction: row;
    padding: 0 0;
}
.app-navigation__menu_link {
    padding: 25px 20px;
}
.app-navigation__menu_link:hover {
    text-decoration: underline;
}