*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(45deg, rgb(8, 221, 99), rgb(0, 131, 255));
    background-repeat: no-repeat;
    background-position: top center;
}
a{
    text-decoration: none;
}
.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}