{% extends 'concentrateapp_folder/base_html.html' %}
{% block title %}
    О нас
{% endblock %}
{% block main_content %}
    <ul class="contact-us__list_data">
        <li class="contact-us__list_data_li">
            <span class="bold_font">Пишите нам</span>
            <span class="bold_font">Отправляйте ваши предложения!</span>
        </li>
         <li class="contact-us__list_data_li">
            <span class="bold_font">Наша почта</span>
             <span class="light_font">maistankin@mail.ru</span>
        </li>
         <li class="contact-us__list_data_li">
            <span class="bold_font">Телефон</span>
             <span class="light_font">8(800)535-35-35</span>
        </li>
    </ul>
{% endblock %}